<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="mainDiv rtl">

            <div class="row100">
                <div class="headerButton">
                    <img src="img/menu.png" width="30" ng-click="toggleRightSideMenu()">
                </div>
                <div class="headerLogo">
                    <img src="img/logo.jpg" style="width: 60%;">
                </div>
                <div class="headerButton" ng-click="goBack()">
                    <img src="img/left.png" width="15">
                </div>
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="text" placeholder="שם העובד" ng-model="newWorker.name" required>
            </div>

            <div class="customInputDiv">
                <select class="customInputSelect" ng-options="factory.ID as factory.Name for factory in factories"
                        ng-model="newWorker.factory" required></select>
            </div>

            <div class="customInputDiv">
                <select class="customInputSelect" ng-options="division.ID as division.Name for division in divisions"
                        ng-model="newWorker.division" required></select>
            </div>

            <div class="customInputDiv">
                <select class="customInputSelect" ng-options="department.ID as department.Name for department in departments"
                        ng-model="newWorker.department" required></select>
            </div>

            <div class="customInputDiv">
                <select class="customInputSelect" ng-options="position.ID as position.Name for position in positions"
                        ng-model="newWorker.position" required></select>
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="tel" placeholder="ת״ז" ng-model="newWorker.IDnumber">
            </div>

            <div class="customInputDiv">
                <select class="customInputSelect" ng-options="agreement.ID as agreement.Name for agreement in agreements"
                        ng-model="newWorker.agreement" required></select>
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="text" placeholder="כרטיס" ng-model="newWorker.card">
            </div>

            <div class="blueButton" ng-click="addWorker()">אשר</div>

        </div>

    </ion-content>
</ion-view>