<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="mainDiv" style="text-align: center">

            <img src="img/logo.jpg" style="width: 80%; margin: 50px auto;">

            <div class="customInputDiv">
                <input id="UserName" name="UserName" value="" class="customInput" type="text" ng-model="login.user" placeholder="שם משתמש">
            </div>

            <div class="customInputDiv">
                <input id="Password" name="Password" value="" class="customInput" type="text" ng-model="login.password" placeholder="סיסמה">
            </div>

            <div class="customInputDiv" ng-show="!link">
                <input class="customInput" type="number" ng-model="company.number" placeholder="מספר החברה">
            </div>

            <div class="blueButton" ng-click="sendCompanyNumber()">כניסה</div>

        </div>

    </ion-content>
</ion-view>