<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar>
            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-content class="customMenu">
            <ion-list class="rtl">
                <ion-item menu-close ui-sref="app.manager" ng-show="isManager == true">
                    ראשי
                </ion-item>
                <ion-item menu-close ui-sref="app.attendance">
                    השעות שלי
                </ion-item>
                <ion-item menu-close href="" ng-click="logout()">
                    התנתקות
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
