<ion-popover-view>
    <ion-content>

        <div class="popoverSmalim">
            <select ng-if="IsReadOnly == 0" class="popoverSelect" ng-model="type[dayid]" ng-init="type[dayid] = semel" ng-change="changeSemel(dayid, uploadDate, checkin, checkout)">
                <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
            </select>
            <select ng-if="IsReadOnly == 1" class="popoverSelect" ng-model="type[dayid]" ng-init="type[dayid] = semel">
                <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
            </select>
        </div>

        <div class="row100" ng-if="WorkerDocumentExist == '0' && IsReadOnly == 0">
            <div class="popoverRow50">:עלה קובץ</div>
            <div class="popoverRow50" align="right">
                <div ngf-select="upload($file, uploadDate)"><img src="img/edit.png" width="25"></div>
            </div>
        </div>

        <div class="row100" align="center" ng-if="WorkerDocumentExist != '0'">
            <div>הקובץ כבר קיים</div>
        </div>

    </ion-content>
</ion-popover-view>