<ion-view hide-nav-bar="true">
    <ion-content class="has-footer">

        <div class="mainDiv rtl">

            <div class="row100">
                <div class="headerButton">
                    <img src="img/menu.png" width="30" ng-click="toggleRightSideMenu()">
                </div>
                <div class="headerLogo">
                    <img src="img/logo.jpg" style="width: 60%;">
                </div>
                <div class="headerButton" ng-click="goBack()">
                    <img src="img/left.png" width="15" >
                </div>
            </div>

            <div class="workerName">{{foundWorkerName}}</div>

            <div class="verticalLine"></div>

            <div class="row100">

                <div class="workerDateCell">
                    <label class="item workerDateLabel" style="background-color: transparent !important;">
                        <input type="text" ng-change="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="מתאריך" class="workerDate" ng-model="dates.from">
                    </label>
                </div>

                <div class="workerDateCell">
                    <label class="item workerDateLabel"  style="background-color: transparent !important;">
                        <input type="text" ng-change="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="עד תאריך" class="workerDate" ng-model="dates.to">
                    </label>
                </div>

                <div class="workerButtonCell">
                    <img src="img/sign.png" width="30" style="margin-top: 10px;" ng-click="makeElectronicSign()">
                </div>

                <div class="workerButtonCell">
                    <img src="img/stats.png" width="30" style="margin-top: 7px;" ui-sref="app.statistics({id: id})">
                </div>

            </div>

            <div class="row100" style="margin-bottom: 10px;">

                <div class="workerMonth">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addMonth()"></div>
                        <div class="workerMonthYearText">{{curDate | amDateFormat:'MMMM'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractMonth()"></div>

                    </div>

                </div>

                <div class="workerYear">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addYear()"></div>
                        <div class="workerMonthYearText">{{curDate | amDateFormat:'YYYY'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractYear()"></div>

                    </div>

                </div>

            </div>

            <div ng-repeat="day in curMonthAttendance">

                <div class="row100">

                    <div class="workerDay">

                        {{day.Cur_Date | amDateFormat: "DD"}}

                    </div>

                    <div class="workerReport">

                        <div class="row100">

                            <div class="workerInOutDiv" ng-show="day.IN122 == ''">
                                <div class="workerInOut" ng-if="day.IsReadOnly == 0" ng-click="showInPopup(day.id, day.Cur_Date, type, day.OUT122)">כניסה</div>
                                <div class="workerInOut" ng-if="day.IsReadOnly == 1">כניסה</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.IN122 != ''">
                                <div class="workerInOutMarked" ng-if="day.IsReadOnly == 0" ng-click="showInPopup(day.id, day.Cur_Date, type, day.OUT122)">{{day.IN122}}</div>
                                <div class="workerInOutMarked" ng-if="day.IsReadOnly == 1">{{day.IN122}}</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.OUT122 == ''">
                                <div class="workerInOut" ng-if="day.IsReadOnly == 0" ng-click="showOutPopup(day.id, day.Cur_Date, type, day.IN122)">יציאה</div>
                                <div class="workerInOut" ng-if="day.IsReadOnly == 1">יציאה</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.OUT122 != ''">
                                <div class="workerInOutMarked" ng-if="day.IsReadOnly == 0" ng-click="showOutPopup(day.id, day.Cur_Date, type, day.IN122)">{{day.OUT122}}</div>
                                <div class="workerInOutMarked" ng-if="day.IsReadOnly == 1">{{day.OUT122}}</div>
                            </div>

                            <div class="workerDiff" ng-show="day.IN122 != '' && day.OUT122 != ''">
                                {{day.SAC122}}
                                <span style="vertical-align: super;" ng-if="day.SMLO122 != '0'">*</span>
                                <span style="vertical-align: super;" ng-if="day.WorkerDocumentExist != '0'"><i class="icon ion-android-document" style="font-size: 10px; color: #000A45;"></i></span>
                            </div>

                            <div class="workerOptionsDiv" ng-hide="day.IN122 != '' && day.OUT122 != ''">
                                <select ng-if="day.IsReadOnly == 0" ng-change="changeSemel(day.id, day.Cur_Date, day.IN122, day.OUT122)" class="workerOptions" ng-model="type[day.id]" ng-init='type[day.id] = day.SMLO122 != "" ? day.SMLO122 : "0"'>
                                    <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
                                </select>
                                <div ng-if="day.IsReadOnly == 1">
                                    <span ng-if="day.SMLO122 != ''">{{semel.Name}}</span>
                                    <span ng-if="day.SMLO122 == ''">אין קטגוריה</span>
                                </div>
                            </div>

                            <div class="workerFile" ng-show="(day.IN122 == '' || day.OUT122 == '') && day.WorkerDocumentExist == '0' && day.IsReadOnly == 0"">
                                <div ng-if="day.IsReadOnly == 0" ngf-select="upload($file, day.Cur_Date)"><img src="img/edit.png" width="25"></div>
                                <div ng-if="day.IsReadOnly == 1"><img src="img/edit.png" width="25"></div>
                            </div>

                            <div class="workerFile" ng-if="(day.IN122 == '' || day.OUT122 == '') && day.WorkerDocumentExist != '0'">
                                <div><i class="icon ion-android-document" style="font-size: 30px; color: #000A45"></i></div>
                            </div>

                            <div class="workerSettings" ng-if="day.IN122 != '' && day.OUT122 != '' && (day.IsReadOnly == 0 || day.IsReadOnly == 1 && day.SMLO122 != 0)">
                                <i class="icon ion-android-settings" style="font-size: 30px; color: #000A45;" ng-click="openPopover($event, day.Cur_Date, day.IN122, day.OUT122, day.SMLO122, day.id, day.WorkerDocumentExist, day.IsReadOnly)"></i>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="verticalLine"></div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="workerFooter">
        <div class="row100">
            <div class="workerTotalHoursText" ng-show="datesMode == false">
                סך שעות עבודה חודשי
            </div>
            <div class="workerTotalHoursText" ng-show="datesMode == true">
                סך שעות עבודה
            </div>
            <div class="workerTotalHours">
{{totalTime}}
            </div>
        </div>
    </ion-footer-bar>
</ion-view>