<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="mainDiv">

            <div class="row100">
                <div class="headerButton">
                    <img src="img/menu.png" width="30" ng-click="toggleRightSideMenu()">
                </div>
                <div class="headerLogo">
                    <img src="img/logo.jpg" style="width: 60%;">
                </div>
            </div>

            <div class="customInputDiv">
                <input class="customInput rtl" type="text" ng-model="search.user" placeholder="שם העובד">
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="tel" ng-model="search.IDnumber" placeholder="תעודת זהות">
            </div>

            <div class="blueButton" ng-click="makeSearch()">חפש</div>

            <!--<div class="greyButton" ui-sref="app.add" style="margin-bottom: 10px;">הוסף עובד</button>-->

            <div ng-show="foundWorkers.length > 0" ng-repeat="worker in foundWorkers" class="rtl">

                <div class="verticalLine"></div>
                <div class="row100" ng-click="getWorker(worker.OVEDID, worker.FirstName, worker.LastName)">

                    <div class="managerSearchRight">
                        <div class="managerWorkerName">{{worker.FirstName}}  {{worker.LastName}}</div>
                        <div class="managerWorkerID">{{worker.ID}}</div>
                    </div>

                    <div class="managerSearchLeft">
                        <img src="img/left.png" width="15">
                    </div>

                </div>
            </div>

        </div>

    </ion-content>
</ion-view>