<ion-view style="background-color: white;">
    <i class="icon ion-close" style="font-size: 150%; position: absolute; right: 5px; top: 5px;" ng-click="hideOutPopup()"></i>
    <div class="timePopupMain">

        <datetimepicker style="direction: ltr; "
                        hour-step="1"
                        minute-step="1"
                        ng-model="date.time"
                        show-meridian="false"
                        hidden-time="false"
                        hidden-date="true"
                        disabled-date="true"
                        show-spinners="true"
                        readonly-time="false"
                        show-button-bar="true"
        ></datetimepicker>

        <div class="blueButton" ng-click="makeCheckOut()">עדכן</div>

    </div>
</ion-view>