<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="mainDiv">

            <ng-include src="'templates/header.html'"></ng-include>

            <div class="customInputDiv">
                <input class="customInput rtl" type="text" ng-model="search.user" placeholder="שם העובד">
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="tel" ng-model="search.IDnumber" placeholder="תעודת זהות">
            </div>

            <button class="button button-clear blueButton" ng-click="makeSearch()">חפש</button>

            <button class="button button-clear greyButton" ui-sref="app.add" style="margin-bottom: 10px;">הוסף עובד</button>

            <div ng-show="foundWorkers.length > 0" ng-repeat="worker in foundWorkers" class="rtl">

                <div class="verticalLine"></div>
                <div class="row100">

                    <div class="managerSearchRight">
                        <div class="managerWorkerName">{{worker.FirstName}}  {{worker.LastName}}</div>
                        <div class="managerWorkerID">{{worker.ID}}</div>
                    </div>

                    <div class="managerSearchLeft">
                        <img src="img/left.png" width="15" ng-click="getWorker(worker.OVEDID)">
                    </div>

                </div>
            </div>

        </div>

    </ion-content>
</ion-view>