<ion-view hide-nav-bar="true">
    <ion-content class="has-footer">

        <div class="mainDiv">

            <ng-include src="'templates/header.html'"></ng-include>

            <div class="statsTitle">דו"ח יתרות</div>

            <div class="row100">
                <div class="statsCell1">
                    <div class="statsCellNumber">{{cell1}}</div>
                    <div class="statsCellText">מחלה משפחתית</div>
                </div>
                <div class="statsCell2">
                    <div class="statsCellNumber">{{cell2}}</div>
                    <div class="statsCellText">ימי חופשה</div>
                </div>
            </div>

            <div class="row100">
                <div class="statsCell3">
                    <div class="statsCellNumber">{{cell3}}</div>
                    <div class="statsCellText">ימי מחלה</div>
                </div>
                <div class="statsCell4">
                    <div class="statsCellNumber">{{cell4}}</div>
                    <div class="statsCellText">ימי מנוחה</div>
                </div>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="statsFooter">
        <div class="statsFooterText rtl">*הנתונים נכונים לחישוב החודשי האחרון</div>
    </ion-footer-bar>
</ion-view>